.collection {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(autofit, minmax(350px, 1fr));
  gap: 30px;
  &__wrapper{
    padding: 0 30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    &_price{
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: orange;
      border-radius: 5px;
    }
  }
  &__image{
    width: 100%;
    height: fit-content;
    border: 2px solid lightgray;
    border-radius: 30px;
    background-size: cover;
    &:hover {
      border: 2px solid black;
    }
  }
  &__info{
    display: flex;
    justify-content: space-between;
  }
}